@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles du owlCarousel */
.owl-carousel .item {
    margin: 2rem auto;
    padding: 1rem 0;
  }
  
.owl-carousel .item img {
    height: 15rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;
    width: 3rem;
    border-radius: 50% !important;
    border: 1px solid rgba(168, 214, 1, 0.3) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-carousel .owl-nav .owl-prev{
    left: -10rem;
}
.owl-carousel .owl-nav .owl-next{
    right: -10rem;
}
  
.owl-carousel .owl-dots {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
.owl-carousel .owl-dots .owl-dot {
    background-color: rgba(168, 214, 1, 0.3) !important;
    height: .3rem !important;
    width: 2rem !important;
    margin-right: 1rem;
    /* border-radius: 50rem; */
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
.owl-carousel .owl-dots .owl-dot.active {
    background-color: #a8d601 !important;
  }

/* .owl-nav {
    display: none !important;
  } */

  .owl-theme .owl-dots .owl-dot span{
      display: none !important;
  }